# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local@Test
                  #    @DisplayName("return frequency table")
                  #    void testSortBasket() {
                  #        String[] items = {"Banana", "Apple", "Banana", "Apple", "Banana", "Melon", "Melon", "Melon", "Lime", "Apple"};
                  #        HashMap<String, Integer> expected = new HashMap<>();
                  #        expected.put("Banana", 3);
                  #        expected.put("Lime", 1);
                  #        expected.put("Apple", 3);
                  #        expected.put("Melon", 3);
                  #        Map<String, Integer> actual = sortBasket(items);
                  #        assertTrue(expected.equals(actual));
                  #    } storage ignored files
/dataSources/
/dataSources.local.xml
